.navbar {
  position: sticky;
  width: 100%;
  height: 150px;
  align-items: center;
  background-color: lightgray;
}

.navbar__links {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.logo {
  margin-top: 20px;
  height: 90px;
  width: 100px;
  z-index: 1;
}
.searchWidget {
  width: 200px;
}
